//** VARIABLES **

//colors
$water-blue: #1487e2;
$deep-sky-blue: #0b73f8;
$grayish-white: #fafafa;
$mid-gray: #707070;


$golden-grad: radial-gradient(ellipse at left top, #d3c7a2 0%, #b3a27c 50%);
$gold-light: #c6b99c;
// $gold-light: #cbbd98;
$gold-dark: #bdad88;
$festive-red: #cb0000;
$dark-red: #800000;
$light-pink: #f5f3f2;